.App-data{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    border: '2px solid gray';
    color:silver;
}
.Add-text{
    font-size: 20px;
    display: auto;
    flex-direction: column;
    align-items: center;
   border: 2px solid;
   color:darkblue

}
.Name-text{
    
    font-size: 30px; 
    display:flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
   border: 2px solid;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 30px;
   color:rgb(13, 0, 130)

}

.Child-text{
    font-size: 18px;
     display:flex; 
    margin: 10px;
     flex-direction: column; 
    align-items: center;
   border: 1px solid;
   border-radius: 30px;
   color:gray
    

}
.clin{
    display: flex;
    flex-direction: column;
    align-items: center;
   border: 2px solid;
   color:gray;
}
/* min-height: 1vh;
display: flex;
flex-direction: column;
text-align: center;
font-size: calc(20px +(40 -20)*((100vw - 50px)/(1600 - 50))); */

/* 
padding-bottom: 10px;
    min-height: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:calc(14px +(32 -14)*((100vw - 300px)/(1600 - 300))) ;
    border: '2px solid gray';
    color:darkgreen */